body {
    color: white;
    background-color: black;
    font-family: "Roboto", sans-serif;
}

header {
    border-bottom: 60px;
    padding-bottom: 60px;
    background-color: green;
    color: black;
    font-size: 40px;
    margin-top: 60px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

.chamada {
    background: rgb(125, 154, 220);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

.texto-centro {
    text-align: center;
    font-style: italic;
    color: rgb(213, 207, 207);
}

img {
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: rgb(90, 127, 211);
}
